/* 07. blog area css here */

.blog_section{
    & .section_title{
        margin-bottom: 49px;
        @media #{$large-mobile}{
            margin-bottom: 30px;
        }
    }
    padding-bottom: 91px;
    @media #{$laptop-device}{
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 71px;
    }
     @media #{$desktop-device}{
        padding-bottom: 71px;
         padding-left: 30px;
        padding-right: 30px;
    }
    @media #{$tablet-device}{
        padding-bottom: 51px;
        padding-left: 20px;
        padding-right: 20px;
    }
    @media #{$large-mobile}{
        padding-bottom: 54px;
    }
}

.blog_wrapper{
    padding-bottom: 95px;
    border-bottom: 1px solid $grey_color;
    @media #{$laptop-device}{
        padding-bottom: 75px;
    }
    @media #{$desktop-device}{
        padding-bottom: 75px;
    }
    @media #{$tablet-device}{
        padding-bottom: 55px;
    }
    @media #{$large-mobile}{
        padding-bottom: 54px;
    }
    & .col-lg-4{
        flex: 0 0 100%;
        max-width: 100%;
    }
}
.blog_thumb{
    position: relative;
    margin-bottom: 22px;
    & > a{
        display: block;
        @media #{$large-mobile}{
            width: 100%;
        }
    }
    &:hover{
        &::before{
            opacity: 1;
            visibility: visible;
        }
        & .blog_icon{
            opacity: 1;
            visibility: visible;
        }
    }
    &::before{
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.5);
        top: 0;
        left: 0;
        @include transition(.3s);
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
    }
   
}

.blog_icon{
    position: absolute;
    position: absolute;
    top: 48%;
    transform: translatey(-50%);
    left: 0;
    right: 0;
    text-align: center;
    @include transition(.3s);
    opacity: 0;
    visibility: hidden;
    
    & a{
        width: 52px;
        height: 52px;
        background: $secondary_color; 
        position: relative;
        display: inline-block;
        &::before{
            position: absolute;
            content: "\e032";
            font-family: 'simple-line-icons';
            font-size: 23px;
            line-height: 52px;
            color: #fff;
            width: 100%;
            text-align: center;
            left: 0;
            
        }
        &::after{
            position: absolute;
            content: "";
            width: 54px;
            height: 54px;
            border: 1px solid $secondary_color;
            left: -6px;
            top: 4px;
        }
    }
    
}



.blog_content{
    & h3{
        font-size: 16px;
        text-transform: capitalize;
        line-height: 18px;
        position: relative;
        margin-top: 0;
        margin-bottom: 8px;
        font-weight: 600;
        margin-bottom: 14px;
        @media #{$desktop-device}{
           font-size: 14px;
        }
        @media #{$large-mobile}{
           font-size: 14px;
        }
        & a{
            color: $fonts_color2;
            &:hover{
                color: $secondary_color;
            }
        }
    }
}


.author_name{
    margin-bottom: 11px;
    & p{
        font-size: 13px;
        text-transform: capitalize;
        color: $fonts_color;
        & span{
            &.themes{
                color: $secondary_color;
            }
                
            &.post_by{
                color: $fonts_color2;
            }
            
        }
    }
}

.post_desc{
    & p{
        line-height: 22px
    }
}

.blog_wrapper{
   
    &:hover{
        & .owl-nav div{
            opacity: 1;
            visibility: visible;
            left: -25px;
            @media #{$tablet-device}{
               left: -10px;
            }
            @media #{$large-mobile}{
               left: 0px;
            }
            &.owl-next{
                right: -25px;
                @media #{$tablet-device}{
                   right: -10px;
                }
                @media #{$large-mobile}{
                   right: 0px;
                }
            }
        }
    }
    & .owl-nav{
        & > div{
            position: absolute;
            top: 50%;
            transform: translatey(-50%);
            border: 0;
            background: inherit;
            font-size: 50px;
            z-index: 9;
            left: 0;
            opacity: 0;
            visibility: hidden;
            @include transition(.5s);
            color: $fonts_color3;
            &:hover{
                color: $secondary_color;
            }
            @media #{$laptop-device}{
                left: 0;
            }
             @media #{$desktop-device}{
                left: 0;
            }
            @media #{$tablet-device}{
                left: 0;
            }
            @media #{$large-mobile}{
                left: 15px;
            }
            &.owl-next{
                right: 0px;
                left: auto;
                @media #{$laptop-device}{
                    right: 0;
                }
                @media #{$desktop-device}{
                    right: 0;
                }
                @media #{$tablet-device}{
                    right: 0;
                }
                @media #{$large-mobile}{
                    right: 15px;
                }
            }
        }
    }
}



/*home three blog css here*/
.blog_section_three{
    padding-bottom: 96px;
    @media #{$laptop-device}{
        padding-bottom: 76px;
    }
    @media #{$desktop-device}{
        padding-bottom: 76px;
    }
    @media #{$tablet-device}{
        padding-bottom: 55px;
    }
    @media #{$large-mobile}{
        padding-bottom: 55px;
    }
}








